@use "config/variables" as var;
@use "config/mixins" as m;

.testimonial {
  margin: 0 auto;
  padding: 2rem 4rem;
  max-width: 50rem;
  background-color: var.$brown-clear;
  border-radius: 2rem;

  &__autor {
    font-family: var.$cursive;
    font-size: 2.4rem;
    font-weight: 700;
    color: var.$primary-color;
    text-align: right;
  }
}
