@use "config/variables" as var;

[class$="__contenedor"] {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.bg-primary {
  background-color: var.$primary-color;
}
